$font-stack: Arial, Helvetica, sans-serif;
$light-colour: #f4f4f4;
$primary-colour: #0e6cff;
// $primary-colour: #e0ffff;
$secondary-colour: #ff8700;

// set text colour based off background 
@function set-text-color($color) {
  @if (lightness($color) > 70 ) {
    @return #333; 
  } @else {
   @return #fff;
  }
}

// Set background and text colour
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}